src/generated/**/.cache/cache text eol=lf
*.json text eol=lf
*.name text eol=lf
* text eol=lf
*.bat text eol=crlf
*.patch text eol=lf
*.java text eol=lf
*.gradle text eol=crlf
*.png binary
*.jpg binary
*.jped binary
*.gif binary
*.tga binary
*.psd binary
*.exe binary
*.dll binary
*.jar binary
*.lzma binary
*.zip binary
*.pyd binary
*.cfg text eol=lf
*.jks binary